<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.roud.cms.mapper.ArticleAndCommentMapper">

    <resultMap id="CommentResult" type="top.roud.cms.entity.Comment">
        <id property="id" column="cid"/>
        <result property="time" column="time"/>
        <result property="content" column="content"/>
        <association property="user" column="user_id" javaType="top.roud.cms.entity.Article">
<!--            k-->
        </association>
        <association property="parentComment" column="parent_id" resultMap="CommentResult">

        </association>
        <association property="originComment" column="origin_id" resultMap="CommentResult">
            
        </association>
        <association property="article" column="article_id" javaType="top.roud.cms.entity.Article"></association>
    </resultMap>

    <resultMap id="ArticleWithCommentResult" type="top.roud.cms.entity.Article">
        <id property="id" column="aid"/>
        <result property="title" column="title"/>
        <result property="author" column="author"/>
        <result property="description" column="description"/>
        <result property="cover" column="cover"/>
        <result property="postbody" column="postbody"/>
        <result property="publishtime" column="publishtime"/>
        <collection property="comments" resultMap="CommentResult"></collection>
    </resultMap>

    <insert id="insertComment">
        insert into rb_comment(id, content, user_id, time, parent_id, origin_id, article_id) values (#{id}, #{content}, #{user.id}, #{parent.id}, #{origin.id}, #{article.id});
    </insert>

     <select id="selectArticleWithComment" resultMap="ArticleWithCommentResult">
        select a.id as aid,a.title,a.author,a.description,a.cover,a.postbody,a.publishtime,
        c.id as cid,c.time,c.content,c.user_id, c.parent_id, c.origin_id, c.article_id
        from rb_article a,
        rb_comment c
        where a.id=#{id} and c.article_id=#{id}
    </select>

</mapper>