<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.roud.cms.mapper.ArticleAndTagMapper">
    <insert id="insertArticle" parameterType="top.roud.cms.entity.Article">
        insert into rb_article(id,title,author,description,cover,postbody,publishtime) values
        (#{id},#{title},#{author},#{description},#{cover},#{postbody},#{publishtime})
    </insert>

    <insert id="insertTag" parameterType="top.roud.cms.entity.Tag">
        insert into rb_tag(id,tagname,description,addtime) values
        (#{id},#{tagname},#{description},#{addtime})
    </insert>

    <select id="getArticleById" parameterType="long" resultType="top.roud.cms.entity.Article">select id,title,author,description,cover,postbody,publishtime,viewsnum,commentsnum from rb_article where id=#{id}</select>

    <select id="getTagById" parameterType="long" resultType="top.roud.cms.entity.Tag">select id,tagname,description,addtime from rb_tag where id=#{id}
     </select>

    <select id="getTagByName" parameterType="String" resultType="top.roud.cms.entity.Tag">select id,tagname,description,addtime from rb_tag where tagname=#{name}</select>

    <select id="getAllTags" resultType="top.roud.cms.entity.Tag">select id,tagname,description,addtime from rb_tag</select>

    <insert id="insertArticleAndTag">insert into rb_article_tag(id, article_id, tag_id) values (#{param1},#{param2},#{param3})</insert>

    <resultMap id="ArticleResult" type="top.roud.cms.entity.Article">
        <id property="id" column="aid"/>
        <result property="title" column="title"/>
        <result property="author" column="author"/>
        <result property="description" column="description"/>
        <result property="cover" column="cover"/>
        <result property="postbody" column="postbody"/>
        <result property="publishtime" column="publishtime"/>
        <result property="viewsnum" column="viewsnum"/>
        <result property="commentsnum" column="commentsnum"/>
    </resultMap>

    <resultMap id="TagResult" type="top.roud.cms.entity.Tag">
        <id property="id" column="tid"/>
        <result property="tagname" column="tagname"/>
        <result property="description" column="description"/>
        <result property="addtime" column="addtime"/>
    </resultMap>

    <resultMap id="ArticleResultWithTag" type="top.roud.cms.entity.Article" extends="ArticleResult">
        <collection property="tags" resultMap="TagResult"></collection>
    </resultMap>

    <select id="getArticleByIdWithTag" parameterType="long" resultMap="ArticleResultWithTag">
        select a.id as aid,a.title,a.author,a.description,a.cover,a.postbody,a.publishtime,a.viewsnum,a.commentsnum,
        t.id as tid,t.tagname,t.description,t.addtime
        from rb_article a,
        rb_tag t,
        rb_article_tag at
        where a.id=#{id} and a.id=at.article_id and t.id=at.tag_id
    </select>
    <select id="getAllArticleWithTag" resultMap="ArticleResultWithTag">
        select a.id as aid,a.title,a.author,a.description,a.cover,a.postbody,a.publishtime,a.viewsnum,a.commentsnum,
        t.id as tid,t.tagname,t.description,t.addtime
        from rb_article a,
        rb_tag t,
        rb_article_tag at
        where a.id=at.article_id and t.id=at.tag_id order by a.id desc
    </select>

    <select id="selectPage" resultType="top.roud.cms.entity.Article">
        select id,title,author,description,cover,postbody,publishtime,viewsnum,commentsnum from rb_article ${ew.customSqlSegment} order by id desc
    </select>

    <select id="getTagByArticleId" parameterType="long" resultType="top.roud.cms.entity.Tag">
        select id,tagname,description,addtime from rb_tag t where exists (select tag_id from rb_article_tag where article_id=#{id} and tag_id=t.id)
    </select>

    <update id="updateViewsnumAndCommentsnumByArticleId">
        update rb_article
        <set>
            viewsnum=#{viewsnum},commentsnum=#{commentsnum}
        </set>
        where id=#{id}
    </update>

    <delete id="delArticleWithTag" parameterType="long">
        DELETE rb_article,rb_article_tag from rb_article LEFT JOIN rb_article_tag ON rb_article.id=rb_article_tag.article_id WHERE rb_article.id=#{id}
    </delete>
</mapper>