<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.roud.roudblogcms.mapper.UserInformationMapper">
    <resultMap id="UserResultMap" type="top.roud.roudblogcms.entity.User">
        <id column="u_id" property="id"/>
        <result column="u_nickname" property="nickname"/>
        <result column="u_phonenumber" property="phonenumber"/>
        <result column="u_registertime" property="registertime"/>
        <result column="u_type" property="type"/>
        <result column="u_power" property="power"/>
    </resultMap>
    <resultMap id="UserInformationResultMap" type="top.roud.roudblogcms.entity.UserInformation">
        <id column="id" property="id" />
        <result column="img_id" property="imgId"/>
        <result column="sex" property="sex"/>
        <result column="motto" property="motto"/>
        <result column="recentlyip" property="recentlyip"/>
        <association property="user" resultMap="UserResultMap"/>
    </resultMap>
    <select id="selectById" resultMap="UserInformationResultMap" parameterType="long">
        select
               ue.id,ue.user_id,ue.img_id,ue.sex,ue.motto,ue.recentlyip,u.id u_id,u.nickname u_nickname,u.phonenumber u_phonenumber,u.registertime u_registertime,u.type u_type,u.power u_power
        from
             rb_user_extends ue
                 left join
                 rb_user u
                     on
                         user_id=u.id
        where
              ue.id=#{id}
    </select>
    <select id="selectByUserId" resultMap="UserInformationResultMap" parameterType="long">
        select
               ue.id,ue.user_id,ue.img_id,ue.sex,ue.motto,ue.recentlyip,u.id u_id,u.nickname u_nickname,u.phonenumber u_phonenumber,u.registertime u_registertime,u.type u_type,u.power u_power
        from
             rb_user_extends ue
                 left join
                 rb_user u
                     on
                         ue.user_id=u.id
        where
              u.id=#{id}
    </select>
    <insert id="insert" parameterType="top.roud.roudblogcms.entity.UserInformation">
        insert into rb_user_extends(id, user_id,img_id,sex,motto,recentlyip) values(#{id}, #{user.id},#{img_id},#{sex},#{motto},#{recentlyip})
    </insert>
    <update id="updateByUserId" parameterType="top.roud.roudblogcms.entity.UserInformation">
        update rb_user_extends
        <set>
            img_id=#{imgId},sex=#{sex},motto=#{motto},recentlyip=#{recentlyip}
        </set>
        where user_id=#{user.id}
    </update>
</mapper>