.positionAbsoluteCenter{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bg-container{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background:url("../img/sea.jpg");
    background-size: cover;
}
.bg-container img{
    display: none;
    width: 100%;
    height: 100%;
}

.reg-header,.login-header{
    height: 20%;
}
.reg-container .text,.login-container .text{
    position:absolute;
    left: 10%;
    transform: translate(0, -50%);
}
.reg-header h3,.login-header h3{
    top: 50%;
    font-size: 36px;
}
.reg-header p,.login-header p{
    top: 80%;
    font-size: 16px;
    color: #9B9B9B;
}
.reg-header a,.login-header a{
    text-decoration: none;
}
.notice_a{
    text-decoration: none;
    color:#409eff;
    font-size: 12px;
}
.notice_a:hover{
    color: #ff591a;
}
.emptyLine{
    width: 480px;
    height: 10px;
}
#login-verifyCodeImg {
    width: 108px;
    height: 36px;
    vertical-align: middle;
}
.el-button--submitbtn{
    width: 350px !important;height: 50px !important;font-size: 16px !important;font-weight: 700 !important;cursor: pointer !important;color: #fff !important;border: none !important;border-radius: 25px !important;background: #3f89ec !important;
}
.el-button--submitbtn:hover {
    background: #49b4ec !important;
}